.App {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 5;
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}

.label {
    font-size: 12px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    width: 70px;
    display: inline-block;
}